*{
  margin: 0;
  padding: 0;
}

/* Background color */
body{
  background-color: rgb(9, 38, 57) !important;
}

/* When we shrink the screen the button should display at the bottom */
.add__new__btn__mobile__only{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 12px;
  background-color: white;
  width: 100%;
  z-index: 3;
}
/* @media (min-width: 768px) {
  .add__new__btn__mobile__only {
    display: none;
  }
} */

.card-Details{
  color: rgb(88, 111, 126) !important;
}
